@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* display: flex;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%) no-repeat;
    background-size: cover;
    background-position: center; */
   
}

header {
   /* margin-top: 100px;
    border: 1px solid red; */
    position: fixed;
    /* position: sticky; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 70px;
    background-color:  #E3E6F3;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

/* .logo {
    font-size: 1.5rem;
    color: #fff;
    user-select: none;
} */
.logo-shoppex1{
    height: 40px;
    border-radius: 2px;
    
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }


#navbar a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
    position: relative;
    margin-left: 40px;
  }


#navbar  a:hover,
#navbar a.active{
  color: #088178;
}


#mobile{
    display: none;
    align-items: center;
  }
  #close{
    display: none;
  }

.my-container {
    /* margin-top: 100px; */
    width: 100%;
    display: flex;
    /* border: 2px solid red; */
  
   /* position: fixed; */
   
}

.left {
    width: 20%;
    background: #162938;
    color: #fff;
    padding: 50px 0 0 0;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    z-index: 100;
    margin: 50px 0 0 0;
    /* border: 2px solid orange; */
}


.rating {
    margin: 15px 0 0 0;
    border-top: 1px solid #dcdddf;
    border-bottom: 1px solid #dcdddf;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px 10px 20px;
}
.rating h3{
    /* margin-top: -20px; */
}

.num {
    display: flex;
    justify-content: space-between;
}

.slider {
    margin: 10px 0 0 0;
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background-color: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .5s;
    transition: opacity .5s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #333333;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #333333;
    cursor: pointer;
}

.price-range {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 5px 10px 20px;
}

.product-price {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 0 10px 0;
}

.product-price label input {
    accent-color: #162938;
    margin-right: 3px;
}

.right {
    position: relative;
    left: 20%;
    width: 80%;
    margin: 50px 0 0 0;
    padding: 40px 30px 10px 30px;
    /* border: 2px solid ; */
  
}

.input-search {
    height: 50px;
    width: 100%;
    border-style: none;
    font-size: .9rem;
    letter-spacing: 2px;
    outline: none;
    border-radius: 20px;
    background-color: #dcdddf;
    padding: 20px;
    color: #162938;
}

.input-search::placeholder {
    color: #666666;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    color: #666666;
    background-color: transparent;
    pointer-events: painted;
}

.categories {
    /* border: 1px solid red; */
    width: 100%;
    margin: 15px 0 0 0;
    display: flex;
    justify-content: space-between;
}


.categories p {
   
    text-align: center;
    background-color: #f0e6e6;
    border: 1px solid #162938;
    color: #162938;
    padding: 5px;
    width: 150px;
    border-radius: 10px;
    min-width: 50px;
    cursor: pointer;
    
}

#all {
    background-color: #000;
    color: #fff;
}

.clothings {
    padding: 15px 0 0 0;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 10px;
}

.card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    min-width: 300px;
    height: 420px;
    margin: 20px 0 20px 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
}

.image-top {
    text-align: center;
    width: 100%;
    height: 50%;
    background-size: cover;
}

.card-body {
    text-align: center;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    padding: 0 0 5px 0;
    margin: 0;
    font-size: .8rem;
    font-weight: 600;
    color: #333333
}

.card-stock {
    padding: 5px 0 5px 0;
    color: #df0a0a;
    font-size: .8rem;
}

.card-text {
    margin: 5px 0;
    font-size: 1rem;
    color: #079212;
}

.card-rating {
    font-size: 0.880rem;
    color: #666666;
    margin: 0 0 5px 0;
}

.addCart {
    padding: 10px;
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    margin: 10px 0 0 0;
    cursor: pointer;
}

.hide {
    display: none;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  @media (max-width:810px){
    .categories p {
        margin: 2px; 
    }
    /* .clothings {
        padding: 15px 0 0 0;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
    } */
    /* .wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        gap: 10px;
       
    } */
    /* .container1{
     border: 1px solid red;
     width: 100%;
     height: 100%;
    } */
  }
  
@media (max-width:799px){
    #mobile{
        /* border: 1px solid green; */
        display: flex;
        align-items: center;
      }
      #mobile i{
        /* border: 1px solid red; */
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
      }
      #close{
        /* border: 1px solid green; */
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
      }
      #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
       
        top: 0;
        right:-300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transform: 0.3s;
      }
      #navbar.active{
        right:0px;
      }
      #navbar a {
        margin-top: 10px;
    }
      #navbar a::after{
        bottom: -3px;
      }
      #close{
        display: initial;
        position: absolute;
        top: -210px;
        left: 0px;
        color: #222;
        font-size: 24px;
      }
      .my-container{
      
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding: 0 0 10px 0;
       }
       .left{
        display: flex; 
        width: 100%;
        height: 180px;
        /* border: 1px solid red; */
      }
     
     .rating{
        border-top: none;
        border-bottom: none;
     }
     .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #333333;
        cursor: pointer;
    }
    
    .slider::-moz-range-thumb {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #333333;
        cursor: pointer;
    }
    
   
    
  }

  @media(max-width: 477px){
    header{
        padding: 10px 30px;
        width: 100%;
       
      }
      #close{
        display: initial;
        position: absolute;
        top: -210px;
        left: 0px;
        color: #222;
        font-size: 24px;
      }
      .left{
        display: flex; 
        width: 100%;
        height: 150px;
        /* border: 1px solid red; */
      }
     .rating h3{
        font-size: 14px;
        margin-top: -50px;
        
     }
     .rating h4{
        font-size: 10px;
     }
     .rating .slider{
        width: 100%;
        height: 7px;
        margin: 5px 0 0 0;
     }
     .price-range h4{
        margin-top: -40px;
     }
     .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #333333;
        cursor: pointer;
    }
    
    .slider::-moz-range-thumb {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #333333;
        cursor: pointer;
    }
    
     .num{
        font-size: 10px;
        font-weight: bold;
     }
     .price-range h4{
        font-size:12px ;
     }
     .product-price {
        display: flex;
        flex-direction: column;
        gap: 1px;
        padding: 0 0 5px 0;
        font-size: 12px;
    }
     .product-price label input {
        accent-color: #162938;
        margin-right: 1px;
    }
    
    .right {
        position: relative;
        margin-top:200px;
        /* border: 1px solid red; */
        width: 100%;
        left: 0;
       
        /* left: 20%;
        width: 80%; */
        /* margin: 50px 0 0 0;
        padding: 40px 30px 10px 30px; */
        /* border: 2px solid ; */
      
    }
    .categories{
        /* border: 1px solid green; */
        gap: 3px;
    }
    .categories p {
        margin: 1px; 
        /* border: 1px solid red; */
        font-size: 10px;
        padding: 3px 1px;
    }
    .wrapper{
        position: relative;
        width: 100%;
        /* border: 1px solid red; */
    }
   
   
}
